.vrbe-mainMap {

	display: flex;
  min-height: calc(100vh - 220px);
}

.map {
  background-image: url('../../img/main_map.png'); 
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-radius: 50%;
    border-color: rgb(34, 9, 255);
    border-style: dotted;
    display: inline-block;
    position: absolute;  
  }

  .dot0{
    top: 270px;
    left: 490px;
  }

  .dot1 {
    top: 170px;
    left: 500px;
  }

  .dot2 {
    top: 175px;
    left: 150px;
  }

  .dot3 {
    top: 337px;
    left: 480px;
  }

.dot:hover,.dot1:hover,.dot2:hover{
     background-color: rgba(181, 179, 245, 0.397);
  }
