

.guildContainer{
    display: flex;
}

.infoGuild{
    background-image: url('./img/legio_hero_img.png');
    background-repeat: no-repeat;
    background-position: bottom left;
}

.guild-descr{
    margin-top: 20px;
    white-space: pre-wrap;
}

.salary{
    margin: 10px 0px 10px 0px;
}

.memberContainer{
    padding-left: 45px;
    overflow: auto;
    
}