.guildCard {
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-radius: 5px;
    padding: 10px;
    background-color: #A8DAFE;
    width: 50%;
    margin: 10px auto;
}

.guildListTable {
    width:80%;
    margin:auto;
}