.descr-luogo {
    display: flex;
    align-items: center;
    box-shadow: none;
	font-size: 1rem;
	color: #FFF7CB;
    margin: 20px 0px -20px;
    z-index: 1;
}

.img-luogo {
    width: 30%;
    margin: 5px;
}

.mini-luogo {
    width: 100px;
    height: 90px;
}

.meteo-luogo {
   text-align: center;
   margin: 5px;
   background-image: url("../../img/boards/Board-3to1-Rounded.svg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   padding: 20px 50px;
}
.nome-luogo{
    display: flex;
    justify-content: space-evenly;  
    font-size: 1.3rem;
	color: #FFBB00;
	font-weight: bold;
}

.badge-luogo{
    border-radius: 15px;
    padding: 15px;
    max-width: 400px;
    background-color: white;
}
