.user-profile-mini {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin-left: 10px;
    
}

.pg-name {
    top: 10px;
    right: 5px;
}

.pg-name:hover {
    cursor: pointer;
}

.menu-interno {
    list-style-type: none;
    padding: 15px;
}

#menupg{
    
    position: absolute;
    max-height: 0%;
    transition: 0.4s;
    overflow: hidden;
    z-index: 1;
    background-color: #F4F6F5;
    margin: 0px;
    
}

#menupg.openEffect{
    max-height:100%;
    
}